iniconfig==2.3.0
    # via pytest
packaging==26.2
    # via
    #   -c requirements.txt
    #   pytest
pluggy==1.6.0
    # via pytest
pygments==2.20.0
    # via
    #   -c requirements.txt
    #   pytest
pytest==9.0.3
    # via
    #   -r requirements-dev.in
    #   pytest-asyncio
    #   pytest-randomly
pytest-asyncio==1.4.0
    # via -r requirements-dev.in
pytest-randomly==4.1.0
    # via -r requirements-dev.in
ruff==0.15.15
    # via -r requirements-dev.in
typing-extensions==4.15.0
    # via
    #   -c requirements.txt
    #   pytest-asyncio
