boolean-py==5.0
    # via license-expression
cachecontrol==0.14.4
    # via pip-audit
certifi==2026.5.20
    # via
    #   -c requirements.txt
    #   requests
charset-normalizer==3.4.7
    # via
    #   -c requirements.txt
    #   requests
cyclonedx-python-lib==11.11.0
    # via pip-audit
defusedxml==0.7.1
    # via
    #   -c requirements.txt
    #   py-serializable
filelock==3.29.0
    # via
    #   -c requirements.txt
    #   cachecontrol
idna==3.17
    # via
    #   -c requirements.txt
    #   requests
iniconfig==2.3.0
    # via pytest
license-expression==30.4.4
    # via cyclonedx-python-lib
markdown-it-py==4.2.0
    # via
    #   -c requirements.txt
    #   rich
mdurl==0.1.2
    # via
    #   -c requirements.txt
    #   markdown-it-py
msgpack==1.2.1
    # via cachecontrol
packageurl-python==0.17.6
    # via cyclonedx-python-lib
packaging==26.2
    # via
    #   -c requirements.txt
    #   pip-audit
    #   pip-requirements-parser
    #   pytest
pip==26.1.2
    # via pip-api
pip-api==0.0.34
    # via pip-audit
pip-audit==2.10.1
    # via -r requirements-dev.in
pip-requirements-parser==32.0.1
    # via pip-audit
platformdirs==4.10.0
    # via pip-audit
pluggy==1.6.0
    # via pytest
py-serializable==2.1.0
    # via cyclonedx-python-lib
pygments==2.20.0
    # via
    #   -c requirements.txt
    #   pytest
    #   rich
pyparsing==3.3.2
    # via pip-requirements-parser
pytest==9.0.3
    # via
    #   -r requirements-dev.in
    #   pytest-asyncio
    #   pytest-randomly
pytest-asyncio==1.4.0
    # via -r requirements-dev.in
pytest-randomly==4.1.0
    # via -r requirements-dev.in
requests==2.34.2
    # via
    #   -c requirements.txt
    #   cachecontrol
    #   pip-audit
rich==15.0.0
    # via
    #   -c requirements.txt
    #   pip-audit
ruff==0.15.15
    # via -r requirements-dev.in
sortedcontainers==2.4.0
    # via cyclonedx-python-lib
tomli==2.4.1
    # via pip-audit
tomli-w==1.2.0
    # via pip-audit
urllib3==2.7.0
    # via
    #   -c requirements.txt
    #   requests
